<p id="notice"><%= notice %></p>

<h1>Your profile</h1>
  <div class="collection">
    <p class="collection-item">
      <strong>First name:</strong>
      <%= @user.first_name %>
    </p>

    <p class="collection-item">
      <strong>Last name:</strong>
      <%= @user.last_name %>
    </p>

    <p class="collection-item">
      <strong>Date of Birth:</strong>
      <%= @user.dob %>
    </p>

    <p class="collection-item">
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p class="collection-item">
      <strong>Phone Number:</strong>
      <%= @user.phone_number %>
    </p>

  </div>

<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-default" %>
<%= link_to 'Back', root_path, class: "btn btn-default" %>

<% if(@user.is_admin == true) %>
  <%= link_to("Create Event", new_event_path(), class: "btn btn-default")%>
<% end %>
