<h1>Update event details</h1>

<% unless @event.errors.full_messages.empty? %>
    <% @event.errors.full_messages.each do |e| %>
        <p>
        <%= e %>
        </p>
    <% end %>
<% end %>

<%= form_for(@event) do |f| %>
    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control"%>
    </div>
    <div class="form-group">
        <%= f.label :date %>
        <%= f.date_field :date, class: "form-control"%>
    </div>
    <div class="form-group">
        <%= f.label :cost %>
        <%= f.number_field :cost, class: "form-control"%>
    </div>
    <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control"%>
    </div>
    <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image %>
    </div>
    
    <div class="form-group">
        <%= f.label :event_type %>
        <% EventType.all.each do |f| %>
            <p>
                <% if @event.event_type_ids.include?(f.id) %>
                    <input type="checkbox" id="<%= f.id %>" name="event[event_type_ids][]" value="<%= f.id %>" checked="true" />
                <% else %>
                    <input type="checkbox" id="<%= f.id %>" name="event[event_type_ids][]" value="<%= f.id %>" />
                <% end %>
                <label for="<%= f.id %>"><%= "#{f.event_type}" %></label>
            </p>
        <% end %>
    </div>
    <%= f.submit("Update Event", class: "btn btn-success")%>
<% end %>