<h1>Create a new event</h1>

<%= form_for(@event, :html => { :multipart => true }) do |f| %>
    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :date %> <br>
        <input id="datepicker" class="form-control" name="event[date]" />
    </div>
    <div class="form-group">
        <%= f.label :cost %>
        <%= f.number_field :cost, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image %>
    </div>
    <div class="form-group">
        <%= f.label :event_type %>
        <% EventType.all.each do |f| %>
            <p>
                <% if @event.event_type_ids.include?(f.id) %>
                    <input type="checkbox" id="<%= f.id %>" name="event[event_type_ids][]" value="<%= f.id %>" checked="true" />
                <% else %>
                    <input type="checkbox" id="<%= f.id %>" name="event[event_type_ids][]" value="<%= f.id %>" />
                <% end %>
                <label for="<%= f.id %>"><%= "#{f.event_type}" %></label>
            </p>
        <% end %>
    </div>

    <h2>Event Location</h2>
    <%= f.fields_for :location, Location.new do |lf|%>
        <div class="form-group">
            <%= lf.label :street_number %>
            <%= lf.number_field :street_number, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= lf.label :street %>
            <%= lf.text_field :street, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= lf.label :postcode %>
            <%= lf.number_field :postcode, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= lf.label :suburb %>
            <%= lf.text_field :suburb, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= lf.label :state %><br>
            <%= lf.select :state, ["NSW", "VIC", "TAS", "SA", "WA", "NT", "QLD", "ACT"], class: "form-control" %>
        </div>
    <% end %>
    <%= f.submit("Create", class: "btn register-btn") %>
<% end %>
    
