<h1><%= @event.name %></h1>
<div class="row">
    <div class="col-md-6">
        <img src=<%= @event.image %> style="width: 500px">
    </div>

    <div class="col-md-6">
            <br>
        <p class="lead text-left"><i class="fa fa-users" aria-hidden="true"></i>
            <b><%= @num_of_ppl %></b> people going to this event<br>
        <b>Date & Time:</b> <%= @event.date.strftime("%A %e %B %Y - %l : %m %p") %><br>
        <b>Cost:</b> $<%= @event.cost.to_i %> <br>
        <b>Description:</b> <%= @event.description %> <br>
        <b>Event Address:</b> <%= @event.location.street_number %> <%= @event.location.street%>, <%= @event.location.suburb%>, <%= @event.location.postcode%>, <%= @event.location.country %><br>
        <b>Event genre/s:</b>
            <ul>
                <% @event.event_types.each do |e| %>
                    <li class="lead text-left"><%= e.event_type %></li>
                <% end %>
            </ul>
        </p>
        <div class="row">
            <div class="col-md-offset-6 col-md-6">
                <% if(@current_user) %>
                    <%= form_tag("/bookings", method: :post) do%>
                        <%= hidden_field_tag "event_id", :event_id, :value => @event.id %>
                        <%= submit_tag("Sign up", class: "btn btn-primary", style: "background-color: #8ebc00; border: #8ebc00")%>
                    <% end %>
                <% end %>
            </div>
        </div>

    </div>
</div>

    <hr>
    <br>
<!-- Google Map -->
<div id="map">
</div>
    <br>
<script>
    var latitude = <%= @location.latitude %>;
    var longitude = <%= @location.longitude %>;
</script>
