<h1>Event: <%= @event.name %></h1>
<img src=<%= @event.image %> style="width: 500px">

<div>
    <p>There are <%= @num_of_ppl %> people going to this event</p>
    <p>Date: <%= @event.date %> </p>
    <p>Cost: $<%= @event.cost %> </p>
    <p>Description: <%= @event.description %> </p>
    <p>Event Types: </p>
    <ul>
    <% @event.event_types.each do |e| %>
        <li><%= e.event_type %></li>
    <% end %>
    </ul>
</div>

<% if(@current_user) %>
    <%= form_tag("/bookings", method: :post) do%>
        <%= hidden_field_tag "event_id", :event_id, :value => @event.id %>
        <%= submit_tag("Sign up", class: "btn btn-primary")%>
    <% end %>
<% end %>

<h2>Event Map</h2>
<div id="map"></div>

<script>
    var latitude = <%= @location.latitude %>;
    var longitude = <%= @location.longitude %>;
</script>
