<h1>Event: <%= @event.name %></h1>

<% if(@current_user) %>
    <%= form_tag("/bookings", method: :post) do%>
        <%= hidden_field_tag "event_id", :event_id, :value => @event.id %>
        <%= submit_tag("Sign up", class: "btn btn-primary")%>
    <% end %>
<% end %>
<div>
    <p>Date: <%= @event.date %> </p>
    <p>Cost: $<%= @event.cost %> </p>
    <p>Description: <%= @event.description %> </p>
    <p>Image: <img src=<%= @event.image %> style="width: 500px"> </p>
    <p>Event Types: </p>
    <% @event.event_types.each do |e| %>
        <p><%= e.event_type %></p>
    <% end %>
</div>

<h2> Event Map</h2>
<div id="map"></div>

<script>
    var latitude = <%= @location.latitude %>;
    var longitude = <%= @location.longitude %>;
</script>
